TestResults/*
Test/Generated/*
Test/obj/
*.FileListAbsolute.txt
Services/bin/
packages/
*.suo
WebPortal/obj/
*.user
*.exe
*.dll
*.pdb
*.cache
WebService/obj/
CallReportingWebService/bin/
Runner/bin/Debug/Temp/Model/TclLink/lib/tcl8.5/tzdata/PST8PDT
Runner/bin/
Portal/obj/
Portal/bin/
