TestResults/*
Test/Generated/*
Test/obj/
*.FileListAbsolute.txt
Services/bin/
packages/
*.suo
WebPortal/obj/
*.user
*.exe
*.dll
*.pdb
*.cache
WebService/obj/
CallReportingWebService/bin/
Runner/bin/Debug/Temp/Model/TclLink/lib/tcl8.5/tzdata/PST8PDT
Runner/bin/
Portal/obj/
Portal/bin/
Runner/obj/
Service/bin/
Shared/bin/
Test/bin/
APSIM.Cloud.Portal/bin/
APSIM.Cloud.Portal/obj/
APSIM.Cloud.Runner/bin/
APSIM.Cloud.Runner/obj/
APSIM.Cloud.Service/bin/
APSIM.Cloud.Shared/bin/
APSIM.Cloud.Test/Generated/
/Backup
/NH_TestYP_AusFarm
APSIM.Cloud.Service/obj/
