<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APSIM.Cloud.WebPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <customErrors mode="Off"  />
    </system.web>

  <system.webServer>
    <httpErrors errorMode="Detailed"  />
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IJobs" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.apsim.info/APSIM.Cloud.Service/Jobs.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJobs"
        contract="JobsService.IJobs" name="BasicHttpBinding_IJobs" />
    </client>
  </system.serviceModel>
</configuration>
