<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APSIM.Cloud.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <APSIM.Cloud.Shared.Properties.Settings>
            <setting name="APSIM_Cloud_Shared_APSOIL_Service" serializeAs="String">
                <value>http://www.apsim.info/ApsoilWebService/Service.asmx</value>
            </setting>
        </APSIM.Cloud.Shared.Properties.Settings>
    </applicationSettings>
</configuration>