<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APSIMRevision" value="Apsim7.8-R4013" />
    <add key="AusfarmRevision" value="AusFarm-1.4.12" />
    <add key="ArchiveFolder" value="ftp://bob.apsim.info/APSIM.Cloud.Archive" />
    <add key="CallStoreReport" value="false" />
    <add key="MaximumNumberOfCores" value="-1" />
    <add key="RunAsService" value="false" />
    <add key="RuntimePackage" value="YP20170816" />
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
</startup>
<system.serviceModel>
  <bindings>
    <basicHttpBinding>
      <binding name="BasicHttpBinding_IReporting" />
      <binding name="BasicHttpBinding_IF4P" />
      <binding name="BasicHttpBinding_IJobs" />
    </basicHttpBinding>
  </bindings>
  <client>
    <endpoint address="http://www.yieldprophet.com.au/YPService/Reporting.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReporting" contract="YPReporting.IReporting" name="BasicHttpBinding_IReporting" />
    <endpoint address="http://f4ptest.cloudapp.net/F4PWebService/F4P.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IF4P" contract="F4P.IF4P" name="BasicHttpBinding_IF4P" />
    <endpoint address="http://www.apsim.info/APSIM.Cloud.Service/Jobs.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJobs" contract="JobsService.IJobs" name="BasicHttpBinding_IJobs" />
  </client>
</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
