<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJobs" maxReceivedMessageSize="10485760" />
                <binding name="BasicHttpBinding_IReporting" />
                <binding name="BasicHttpBinding_IF4P" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.apsim.info/APSIM.Cloud.Service/Jobs.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJobs"
                contract="JobsService.IJobs" name="BasicHttpBinding_IJobs" />
            <endpoint address="http://www.yieldprophet.com.au/YPService/Reporting.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReporting"
                contract="YPReporting.IReporting" name="BasicHttpBinding_IReporting" />
            <endpoint address="http://f4ptest.cloudapp.net/F4PWebService/F4P.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IF4P"
                contract="F4P.IF4P" name="BasicHttpBinding_IF4P" />
        </client>
    </system.serviceModel>
</configuration>
