<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <httpHandlers xdt:Transform="Insert">
      <remove name="LogoffHandler"/>
      <remove name="RSSJandler"/>
      <remove name="LinkClickHandler"/>
      <remove name="CaptchaHandler"/>
      <remove name="UserProfilePageHandler"/>
      <remove name="RadProgressHandler"/>
      <remove name="ClientDependencyHandler"/>
      <remove name="UrlRoutingHandler"/>
      <remove name="UserProfilePicHandler"/>
      <remove name="Telerik.Web.UI.WebResource"/>
      <remove name="Telerik.Web.UI.ChartHttpHandler"/>
      <remove name="SitemapHandler"/>
      <remove name="HtmTemplateFileHandler"/>
      <remove verb="*" path="*.asmx"/>
    </httpHandlers>
    <httpModules xdt:Transform="Insert">
      <remove name="Analytics"/>
      <remove name="Compression"/>
      <remove name="RequestFilter"/>
      <remove name="UrlRewrite"/>
      <remove name="Exception"/>
      <remove name="UsersOnline"/>
      <remove name="DNNMembership"/>
      <remove name="Personalization"/>
      <remove name="MobileRedirect"/>
      <remove name="Services"/>
      <remove name="RadUploadModule"/>
      <remove name="Detector"/>
      <remove name="ClientDependencyModule"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" xdt:Transform="Insert">
      <namespaces>
        <remove namespace="DotNetNuke.Services.Localization" />
        <remove namespace="DotNetNuke.Entities.Users" />
        <remove namespace="DotNetNuke" />
        <remove namespace="DotNetNuke.Common" />
        <remove namespace="DotNetNuke.Data" />
        <remove namespace="DotNetNuke.Framework" />
        <remove namespace="DotNetNuke.Modules" />
        <remove namespace="DotNetNuke.Security" />
        <remove namespace="DotNetNuke.Services" />
        <remove namespace="DotNetNuke.UI" />
        <remove namespace="DotNetNuke.Entities.Portals" />
        <remove namespace="DotNetNuke.Common.Utilities" />
        <remove namespace="DotNetNuke.Services.Exceptions" />
        <remove namespace="DotNetNuke.Entities.Tabs" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules xdt:Transform="Insert">
      <remove name="Analytics"/>
      <remove name="Compression"/>
      <remove name="RequestFilter"/>
      <remove name="UrlRewrite"/>
      <remove name="Exception"/>
      <remove name="UsersOnline"/>
      <remove name="DNNMembership"/>
      <remove name="Personalization"/>
      <remove name="MobileRedirect"/>
      <remove name="Services"/>
      <remove name="RadUploadModule"/>
      <remove name="Detector"/>
      <remove name="ClientDependencyModule"/>
      <!--<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    </modules>
    <handlers xdt:Transform="Insert">
      <remove name="LogoffHandler"/>
      <remove name="RSSJandler"/>
      <remove name="LinkClickHandler"/>
      <remove name="CaptchaHandler"/>
      <remove name="UserProfilePageHandler"/>
      <remove name="RadProgressHandler"/>
      <remove name="ClientDependencyHandler"/>
      <remove name="UrlRoutingHandler"/>
      <remove name="UserProfilePicHandler"/>
      <remove name="Telerik.Web.UI.WebResource"/>
      <remove name="Telerik.Web.UI.ChartHttpHandler"/>
      <remove name="SitemapHandler"/>
      <remove name="HtmTemplateFileHandler"/>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
    </handlers>
  </system.webServer>
  
</configuration>