<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
    
    <httpHandlers>
      <remove name="LogoffHandler"/>
      <remove name="RSSJandler"/>
      <remove name="LinkClickHandler"/>
      <remove name="CaptchaHandler"/>
      <remove name="UserProfilePageHandler"/>
      <remove name="RadProgressHandler"/>
      <remove name="ClientDependencyHandler"/>
      <remove name="UrlRoutingHandler"/>
      <remove name="UserProfilePicHandler"/>
      <remove name="Telerik.Web.UI.WebResource"/>
      <remove name="Telerik.Web.UI.ChartHttpHandler"/>
      <remove name="SitemapHandler"/>
      <remove name="HtmTemplateFileHandler"/>
      <remove verb="*" path="*.asmx"/>
    </httpHandlers>
    <httpModules>
      <remove name="Analytics"/>
      <remove name="Compression"/>
      <remove name="RequestFilter"/>
      <remove name="UrlRewrite"/>
      <remove name="Exception"/>
      <remove name="UsersOnline"/>
      <remove name="DNNMembership"/>
      <remove name="Personalization"/>
      <remove name="MobileRedirect"/>
      <remove name="Services"/>
      <remove name="RadUploadModule"/>
      <remove name="Detector"/>
      <remove name="ClientDependencyModule"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <remove namespace="DotNetNuke.Services.Localization" />
        <remove namespace="DotNetNuke.Entities.Users" />
        <remove namespace="DotNetNuke" />
        <remove namespace="DotNetNuke.Common" />
        <remove namespace="DotNetNuke.Data" />
        <remove namespace="DotNetNuke.Framework" />
        <remove namespace="DotNetNuke.Modules" />
        <remove namespace="DotNetNuke.Security" />
        <remove namespace="DotNetNuke.Services" />
        <remove namespace="DotNetNuke.UI" />
        <remove namespace="DotNetNuke.Entities.Portals" />
        <remove namespace="DotNetNuke.Common.Utilities" />
        <remove namespace="DotNetNuke.Services.Exceptions" />
        <remove namespace="DotNetNuke.Entities.Tabs" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="Analytics"/>
      <remove name="Compression"/>
      <remove name="RequestFilter"/>
      <remove name="UrlRewrite"/>
      <remove name="Exception"/>
      <remove name="UsersOnline"/>
      <remove name="DNNMembership"/>
      <remove name="Personalization"/>
      <remove name="MobileRedirect"/>
      <remove name="Services"/>
      <remove name="RadUploadModule"/>
      <remove name="Detector"/>
      <remove name="ClientDependencyModule"/>
      <!--<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    </modules>
    <handlers>
      <remove name="LogoffHandler"/>
      <remove name="RSSJandler"/>
      <remove name="LinkClickHandler"/>
      <remove name="CaptchaHandler"/>
      <remove name="UserProfilePageHandler"/>
      <remove name="RadProgressHandler"/>
      <remove name="ClientDependencyHandler"/>
      <remove name="UrlRoutingHandler"/>
      <remove name="UserProfilePicHandler"/>
      <remove name="Telerik.Web.UI.WebResource"/>
      <remove name="Telerik.Web.UI.ChartHttpHandler"/>
      <remove name="SitemapHandler"/>
      <remove name="HtmTemplateFileHandler"/>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
    </handlers>
  </system.webServer>
  
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingDev" maxReceivedMessageSize="10485760">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="APSIM.Cloud.Service.Service1Behavior"
        name="APSIM.Cloud.Service.Jobs">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingDev" contract="APSIM.Cloud.Service.IJobs">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/APSIM.Cloud.Service/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="APSIM.Cloud.Service.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
